@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

#landing-pg {
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.box {
    padding: 10px;
}
.box img {
    width: 90%;
}
#img-desc {
    
}